<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="headerKey" value="mZxc$zY9sc9EsX07k%6kAzj20kWt$a*w7lrKI5BVEaMJNuO*vF"/>
    <add key="url" value="http://*:5001/"/>
  </appSettings>
</configuration>